<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>



<h2> one mail has forwarded to admin mail, please check , Thanks</h2>
</hr>
<h2>Listing all product which stock is less than 5 units </h2>
<% @products.each_with_index do |product, index| %>
 <% if product.variants[0].attributes[:"inventory_quantity"] <= 5 %>
    Product Name : <%= link_to product.title, "https://#{@shop_session.url}/admin/products/#{product.id}", target: "_top" %>  Stock : <%= product.variants[0].attributes[:"inventory_quantity"] %> </br>
  <% end %>
<% end %>
</hr>